/* WaterWand WebApp CSS */
/* Written by FRC Team 1540: The Flaming Chickens */

body {
	overflow: hidden;
}

/*
  BANNER
		 */

.upper-banner {
	background-image: url('water.jpg');
    text-align: center;
    border-bottom: 1px solid black;
}

.transparent-layer {
    background: rgba(102, 165, 173, 0.6);
}

.banner-title {
    color: white;
}

/*
  HOME PAGE
			*/

/* search box on main page */
#search-box {
    width:20vw;
    position:relative;
    top:6px;
}

/* the submit button for searching on the home page */
.coordinates {
    background-color: #66a5ad;
    color: white;
}
/* div that contains list of locations */
.loc-options {
    width:100%;
    /* height:580px; */
    /* overflow-y:auto; */
    height: 78vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 2vh;
}
/* buttons for selecting locations */
.loc-select {
    background-color: #66a5ad;
    color: white;
}

/*
  LOCATION PAGES
				*/

.back {
    border: 1px solid black;
    position:absolute;
    left:5px;
    top:5px;
}
.excel-export {
    border: 1px solid black;
    position:absolute;
    left:75px;
    top:5px;
    background:rgb(0,113,66);
    color:rgb(247,247,247);
}
/* style for the indicator options */
.option, .option:hover {
    background-color: #2c7d84;
    border: 1px solid black;
    color: black;
}
.option:hover {
    color: white;
}
/* style for the selected buttons */
.selected-option, .selected-option:hover {
    background: #479199;
    color: white;
}
/* allows for scrollbar on indicator tables */
.table-div {
    overflow-y:auto;
    height: 350px;
}
/* for indicator tables only */
.data-table {
    height: 315px;
}
/*
  SCROLLBARS
			*/
/* The following adds a scrollbar to the loc-options and table-div divs */
/* inspired by https://stackoverflow.com/questions/7743840/apply-webkit-scrollbar-style-to-specified-element */

/* This code makes the following style changes only when the screen width is less than or equal to 992px */
@media screen and (max-width:992px) {
    .loc-options {
        width:95%;
        maring-left:2px;
    }
    .home-map {
        display:none;
    }
    #search-box {
        width:75vw;
    }
}


div.loc-options::-webkit-scrollbar, div.table-div::-webkit-scrollbar {
    width: 12px;
}
div.loc-options::-webkit-scrollbar-track, div.table-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background: #f1f1f1;
}
div.loc-options::-webkit-scrollbar-thumb, div.table-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #cecece;
}
div.loc-options::-webkit-scrollbar-thumb:hover, div.table-div::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #888;
}
